@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');



*{
    box-sizing: border-box;
    padding: 0;
    margin-top: 0;
}
body{
    font-family: 'Playfair Display', serif;
    display: grid;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    min-height: 100vh;
}

.container
{   
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    min-height: 70vh;
    width: 75vw;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    background-color: #12192c;
    
    
}

.container
{
    background-color: #12192c;
    margin-top: 10px;
    /* display: flex; */
    justify-content: center;
    /* flex-direction: column; */
    /* align-items: center; */
    border-radius: 0  12px 12px 0;
    color: #fff;
}

span
{
    text-transform: lowercase;
}
h2
{
    margin-top: 25px;
    /* margin-left: 30px; */
    text-align: center;
    font-size: 30px;
    margin-left: 200px;
    margin-right: -10px;
    transition: all 0.9s linear;
    display: inline-block;
    box-sizing: border-box;
    color: #C850C0;
    border: none;
    border-radius: 1px;
    border-bottom: 6px solid rgb(240, 37, 10);
    font-weight: 900;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

h2:hover
{
    margin-top: 25px;
    /* margin-left: 30px; */
    text-align: center;
    font-size: 35px;
    margin-left: 200px;
    margin-right: -20px;
    cursor: pointer;
    transition: all 0.9s ease;
    display: inline-block;
    box-sizing: border-box;
    color: rgb(240, 37, 10);
    border: none;
    border-radius: 1px;
    border-bottom: 6px solid rgb(37, 240, 10);
    font-weight: 900;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p
{
    margin-top: 20px;
    /* margin-left: 30px; */
    /* text-align: center; */
    font-size: 23px;
    color: #fff;
}

.video
{
    width: 750px;
    height: 300px;
    border: 30px solid rgb(230, 31, 16) ;
    border-radius: 10px;
    border-bottom: none;
    border-top: none;
    text-align: center;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

h3{
    font-size: 20px;
    color: rgba(243, 57, 10, 0.993);
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgb(38, 0, 255);
    border-radius: 5px;
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3:hover
{
    font-size: 20px;
    color: rgba(243, 57, 10, 0.993);
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgb(253, 253, 253);
    border-top: 1px solid rgb(243, 237, 237);
    transition: all 0.1s linear;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* ------------------------logo section ------------------------ */

.logo{
    width: 40%;
    color: white;
    font-weight: bolder;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Poppins' sans-serif;
    background-image: linear-gradient(#f5de13 50%,#854fee 50%);
    padding-left: 100px;
    padding-top: 20px;
    border-radius: 200px;
    box-sizing: border-box;

}
.logo h1{
 text-transform: capitalize;
 font-size: 1.6rem;
 font-family: 'Poppins' sans-serif;
 animation: aagepiche 2s linear infinite ;
 animation-direction: alternate;
}
@keyframes aagepiche{
    from{ padding-left: 40px;
         to { padding-right: 40px; }}
        
}
/* ------------------------logo section ------------------------ */


/*------------------------ nav section ------------------------ */
.navsection{
    width: 100%;
    height: 20vh;
    background:rgb(233 233 49);
    border-radius: 10px;
    display: flex;
    margin-top: -25px;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient( to top, #fff 80%, #c3f5ff 20%);
}

nav{
    width: 60%;
    background-color:#fff;
    font-family: 'Sofia', cursive;
    display: flex;
    margin-top: 0;
    justify-content: space-around;
    
}

nav a{
    text-decoration: none;
    text-transform: capitalize;
    color: #854fee;
    font-weight: 900;
    font-size: 17px;
    position: relative;
} 

nav a:nth-child(2){
    color: #f01af0;
}

nav a:before{
    content:"" ;
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    border-bottom:2px solid #f01af0  ;
    transition: all 0.4s linear;
}

nav a:hover::before{
  width: 100%;
}

/*------------------------ nav section ------------------------ */

